* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.products{
  padding-block:5rem;
}

   /* .container {
  width: min(1100px, 80%);
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;   
}  */

     

    .container{
    width: min(1100px , 80%);
    margin:0 auto;
    margin-top:-70px;
    
  }  
   /* .flex{
    display: flex;
  }   */

.card {
  /* transform-style: preserve-3d; */
  /* height: 100vh; */
  width: 15rem;
  /* border-radius: 30px; */
  padding: 1.2rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
margin-bottom: 20px; ; 
  /* aspect-ratio: 1/2;*/
  
} 


.row{
  display: flex;
  justify-content: center;
  gap:2em;
  flex-wrap: wrap;
}

.bags {
  /* min-height: 5vh; */
  max-width: 20rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin: 0 auto; */
 /* border: 2px solid green;*/
}
.bags img {
  max-width: 70%;
  /* margin: 0 auto; */
  z-index:2;
  transition: all 0.75s ease-out;
 /* border: 2px solid blue;*/
}


.info h1 {
  font-size: min(1.4rem, 7vw);
  transition: all 0.95s ease-out;
  text-align: center;
  color: #9B8055;
}
.info h3 {
  font-size: 1rem;
  margin-block: .5em;
  color: #1B160E;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  text-align: center;
  font-size: 1.4ch;
}
.MRP {
  /* display: flex; */
  /* justify-content: space-around; */
  transition: all 0.75s ease-out;
  /* background: lightblue; */
  height: 100%;
  align-items: center;
}
.MRP h2 {
  /* padding: 0.5rem 2rem; */
  /* background: red; */
  /* border: none; */
  /* border-radius: 30px; */
  cursor:pointer;
  /* font-weight: bold; */
  color: #1B160E;
  text-align: center;
  font-size: 1.7ch;
}
.MRP h3{

text-align: center;

}

.icon {
  
/* margin-top: 1rem; */
  
transition: all 0.75s ease-out;
  
display: flex;
  
justify-content: space-between;
  
/* gap: 18rem; */
  
/*border: 2px solid;*/
}
.icon img {
  /* width: 10%; */
  /* padding: 0rem 2rem; */
  /* background: #18646e00; */
  /* border: none; */
  /* color: white; */
  cursor: pointer;
  /* border-radius: 30px; */
  /* font-weight: bolder; */
}

@media(min-width : 700px)
{
  
      .container {
  width: min(1100px, 80%);
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;   
} 
.card {
   transform-style: preserve-3d; 
  /* height: 100vh; */
  width: 15rem;
  /* border-radius: 30px; */
  padding: 1.2rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
margin-bottom: 20px; ; 
  /* aspect-ratio: 1/2; */
  
}
   


}  